*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body,.all{
    width: 100%;
    height: 100%;
    background: conic-gradient(rgb(255, 61, 103) 20%,rgba(52,163,253,1) 40%,rgb(203, 64, 171) 60%,rgba(92,58,254) 80%,rgb(255, 61, 103) 100%);
}


.all{
    display: grid;
    place-items: center;

}
.list{
    min-width: 320px;
    max-width: 350px;
    height: 30rem;
    border: 5px solid black;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.455);
    backdrop-filter: blur(5rem);
    padding: 10px;
    -webkit-filter: drop-shadow(15px 15px 5px rgba(255, 255, 255, 0.466));
}
.list input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background:rgba(255, 255, 255, 0.4);
    transition: .3s;
}
.list input:focus{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.281);
}
ul {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 5px;
    width: 100%;
    max-height: 80%;
    overflow: auto;
}
ul::-webkit-scrollbar {
    width: 4px;
}
ul::-webkit-scrollbar-thumb{
    background: #000;
}
ul::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgba(255, 61, 103, 0.6),rgba(52,163,253,.6),rgba(203, 64, 171,.6),rgba(92,58,254,.6),rgba(255, 61, 103,.6));
}
li{
    padding: 0 15px 0 0;
    background: rgba(255, 255, 255, 0.521);
    transition: .3s;
    display: flex;
    align-items: center;
    gap: 10px;
}
li:hover{
    box-shadow: 0 0 3px 3px rgba(53, 0, 88, 0.301);
}
.song-img{
    width: 3.5rem;
    height: 3.5rem;
}
.favo{
    font-size: 2rem;
    cursor: pointer;
}
.favo:hover{
    fill: red;
    -webkit-filter: drop-shadow(5px 5px 3px rgba(255, 0, 0, 0.466));

}
.player{
    min-width: 320px;
    max-width: 350px;
    border: 5px solid black;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    background: rgba(255, 255, 255, 0.455);
    backdrop-filter: blur(5rem);
    padding: 10px;
    -webkit-filter: drop-shadow(15px 15px 5px rgb(255, 255, 255));
}
.upper{
    height: 60%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    border:2px solid #000;
    box-shadow: 0 0 0 5px #bbda554f;
    outline: 2px solid #000;
    outline-offset: 5px;
    border-radius: 2px;
    margin-top:25px;
    gap: 0;
}
.upper img {
    width: 100%;
    height:15rem;
}
.upper .icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right,rgba(92,58,254) 20%,rgb(255, 61, 103),rgba(52,163,253,1) 80%);
    color: rgba(255, 255, 255, 0.63);
    font-size:1.5rem;
}
.home{
    color: rgba(255, 255, 255, 0.63);
}
.icons > div{
    display: flex;
    flex-direction: column;   
}
.icons > div ion-icon{
    padding: 10px;
    cursor: pointer;
    filter: blur(.5px);
}
.icons > div ion-icon:hover{
    fill: #fff; 
    filter: none;
}
.icons-left{
    border-right: 1px solid rgba(255, 255, 255, 0.438);
    background: linear-gradient(to right,rgb(17,7,27),rgba(92,58,254)) ;
}
.icons-right{
    border-left: 1px solid rgba(255, 255, 255, 0.438);
    background: linear-gradient(to left,rgb(17,7,27),rgba(52,163,253,1));
}
.heart:hover{
    fill: red !important;
}
.menu:hover{
    fill: rgb(0, 204, 255) !important;
}
.icons-center{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    gap: 7px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: clip; 
}

.song-names{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.song-name{
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    animation: floatText 10s infinite linear;
    padding-left: 100%; /*Initial offset*/
}
.author-name{
    font-size: .75rem;
}
.song-name:hover {
    animation-play-state: paused;
  }
  @keyframes floatText {
    to {
      transform: translateX(-250%);
    }
  }
.play-bar{
    display: flex;
    width: 60%;
    gap: 25px;
    justify-content: space-between;
    font-size: 2rem;  
    padding: 10px;
    border: 3px solid rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-bottom: -15px;
}
.play-bar ion-icon{
    cursor: pointer;
}
.play-bar ion-icon:hover{
    color: #7a00cc;
}
.play-bar-center{
    flex: 30%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.455);
    border: 3px solid rgba(0, 0, 0, 0.7);
    outline: 3px solid rgba(0, 0, 0, 0.7);
    outline-offset: 15px;
    box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.455);
    backdrop-filter: blur(5rem);
}
@keyframes animate{
    50%{
        height: 20%;
        background: #4286f4;
    }
    100%{
        height: 80%;
    }
}
.strokes{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.stroke{
    height: 100%;
    width: 5px;
    border-radius: 2px;
    background: #fff;
    animation: animate 1.4s linear infinite;
}
.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}
li{
    cursor: pointer;
    list-style: none;
}